[Unit]
Description=BeeGFS Management Server
Documentation=https://doc.beegfs.io
Requires=network-online.target 
After=network-online.target

[Service]
Type=notify
ExecStart=/opt/beegfs/sbin/beegfs-mgmtd --log-target=journald

[Install]
WantedBy=multi-user.target